<div class="container" *ngIf="currentUser; else loggedOut">

  <div class="container text-center">
    <header class="jumbotron">
    <div class="media border p-3 bg-info">
     
     <div class="media-body">
       <h1>
       My Profile <br>
            </h1>
     </div>
     
   </div>
 </header>

 <p>
  <strong>Name: {{ currentUser.username }}</strong></p>
 
 <p>
  <strong>Token:</strong>
  {{ currentUser.accessToken.substring(0, 20) }} ...
  {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
</p>
<p>
  <strong>Email:</strong>
  {{ currentUser.email }}
</p>
<strong>Roles:</strong>
<ul>
  <li *ngFor="let role of currentUser.roles">
    {{ role }}
  </li>
</ul>
</div>
 
 
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
