<div class="container">

  <div class="container text-center">
    <header class="jumbotron">
      <div class="media border p-3 bg-info">
       
        <div class="media-body">
          <h1>
            My Dashboard
          </h1>
        </div>
       
      </div>
    </header>
  </div>

  <div class="card-header">
    <h4>
      <mat-tab-group>
        <mat-tab label="My Media">
          <app-user-media></app-user-media>
        </mat-tab>
        <mat-tab label="Media Upload">
          <app-upload-files></app-upload-files>
        </mat-tab>
      </mat-tab-group>
    </h4>
  </div>
</div>