<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
      <img src="assets/image/logo.png" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 60px;">
      Pixogram</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        
        <a href="/home" class="nav-link" routerLink="home">
          <img src="assets/image/home.jpg" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 30px;">
          <br>
          Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <img src="assets/image/dash.png" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 60px;">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">

        <a href="/mod" class="nav-link" routerLink="mod">
          <img src="assets/image/dash.png" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 60px;"><br>
          Moderator Board</a>
      </li>
      <li class="nav-item">

        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">
          <img src="assets/image/dash.png" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 35px;"><br>
          My Dashboard</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <img src="assets/image/signup.jpg" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 30px;">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <img src="assets/image/login.jpg" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 30px;">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
      <li class="nav-item">
        <img src="assets/image/profile.jpg" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 30px;">
        <a href="/profile" class="nav-link" routerLink="profile">My Profile</a>
      </li>
      <li class="nav-item">
        <img src="assets/image/logout.png" alt="Logo" class="mr-3 mt-3 rounded-circle" style="width: 30px;">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>

  </div>
</div>